.service-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #FDFBEC;
    padding: 30px;
}
.service-heading {
    color: #000000;
    font-family: serif;
    font-weight: bold;
    font-size: 30px;
}
.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.service-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.service-image {
    background-color: #f8f2bd;
    padding: 15px;
    border: none;
    border-radius: 100%;
    font-size: 30px;
    color: rgb(230, 205, 66);
}
.service-para {
    color: #000000;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.service-button {
    background-image: linear-gradient(to right,#AA771C,#B38728, #BF953F, #f6ee93,#BF953F,#B38728,#AA771C);
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.service-button a {
    text-decoration: none;
    color: black;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 12px;
}
.service-mini {
    width: 100%;
    margin-bottom: 10px;
}