.navbar-container {
    background-color: black;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
@media screen and (max-width: 576px) {
    .navbar-container {
        padding: 10px;
    }
}
.nav-content {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 576px) {
    .nav-content {
        gap: 5px;
    }
}
.website-logo {
    height: 30px;
    width: 30px;
    background-image: linear-gradient(to right, gold,rgb(245, 222, 94),rgb(246, 237, 187),rgb(245, 222, 94),gold);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
}
@media screen and (max-width: 576px) {
    .website-logo {
        height: 20px;
        width: 20px;
    }
}
.website-heading {
    color: #ffffff;
    font-family: "arial";
    font-weight: bold;
    font-size: 16px;
}
@media screen and (max-width: 576px) {
    .website-heading {
        font-size: 10px;
    }
}
.select-option {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-family: "arial";
    font-weight: 300;
    font-size: 12px;
    outline: none;
}
@media screen and (max-width: 576px) {
    .select-option {
        font-size: 8px;
    }
}
.option {
    color: #171616;
    font-family: "arial";
    font-weight: 300;
    font-size: 12px;
    background-color: gray;
}
@media screen and (max-width: 576px) {
    .option {
        font-size: 8px;
    }
}
.website-button {
    background-image: linear-gradient(to right,#AA771C,#B38728, #BF953F, #f6ee93,#BF953F,#B38728,#AA771C);
    padding: 10px 15px;
    height: 30px;
    font-family: "arial";
    font-weight: bold;
    font-size: 10px;
    color: #000000;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 576px) {
    .website-button {
        padding: 8px;
        font-size: 8px;
        height: 20px;
    }
}